* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.6rem;
}

html {
  font-size: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: url('https://e0.pxfuel.com/wallpapers/592/399/desktop-wallpaper-dark-money-money-black.jpg')
    no-repeat center/cover;
}

.box {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-shadow: 1px 1px 28px -4px black, inset 0px 0px 29px -1px black;
  flex-direction: column;
  border-radius: 3rem;
  background-color: white;
}

.header {
  font-weight: bold;
  font-size: 3.3rem;
  text-transform: uppercase;
  color: rgb(18, 137, 196);
  font-family: monospace;
  margin-bottom: 1rem;
  text-align: center;
}

.from,
.to {
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flagText {
  color: #808080d9;
  font-weight: 500;
}
input {
  outline: none;
  font-size: 1.5rem;
  width: 81%;
  height: 100%;
  padding-left: 1rem;
  box-shadow: 0px 0px 5px -3px black;
  border: none;
  background: rgb(250, 250, 250);
  outline: none;
}

.convertor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

select {
  font-size: 1.2rem;
  cursor: pointer;
  width: 8rem;
  text-align: center;
  padding: 0.4rem 0rem;
}

.mid {
  cursor: pointer;
}

.up {
  background: url('/convertSymbol.svg') no-repeat center/cover;
  width: 1.7rem;
  height: 1.7rem;
}
.down {
  background: url('/convertSymbol.svg') no-repeat center/cover;
  width: 1.7rem;
  transform: rotate(180deg);
  height: 1.7rem;
  margin-top: -1.1rem;
}

button {
  width: 100%;
  font-size: 1.7rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-family: monospace;
  font-weight: bold;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0.3px 0.3px 0px black;
  background: rgb(0, 218, 153);
  border: none;
  outline: none;
  text-transform: uppercase;
}

@media screen and (max-width: 430px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 65%;
  }
}
@media screen and (max-width: 280px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 195px) {
  html {
    font-size: 35%;
  }
}
